* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #7f53ac, #657ced);
}

.container {
    position: absolute;
    width: 50%;
    min-width: 580px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: #fff;
    padding: 50px 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    font-family: "poppins", sans-serif;
}

.lastResult {
    color: rgb(8, 8, 8);
    padding: 7px;
}

.guesses {
    color: rgb(14, 14, 14);
    padding: 7px;
}

#guess {
    font-size: 55px;
    margin-top: 120px;
    color: #000000;
}

.guesses {
    color: #000000;
    background-color: #fafafa;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

input[type="text"] {
    width: 100px;
    font-weight: 600;
    padding: 10px 0;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #202020;
    color: #663399;
}

input[type="submit"] {
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #663399;
    color: #000000;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

p {
    font-weight: 400;
}

.lastResult {
    color: rgb(0, 0, 0);
    padding: 7px;
    font-weight: 600;
}

.guesses {
    color: rgb(2, 2, 2);
    padding: 7px;
    font-weight: 600;
} 

.lowOrHi {
    font-size: 10px;
    font-weight: 200;
    margin-top: 10px;
    color: red;
}

#newGame {
    font-size: 30px;
    font-weight: 1000;
    color: green;
}

.f {
    font-weight: 600;
}

#correct {
    color: green;
}
